version: '3.3'
services:
    homeassistant:
        image: "ghcr.io/home-assistant/home-assistant:stable"
        container_name: PPLabs-HomeAssistant-Prod
        network_mode: host
        volumes:
          - ./Config:/config
          - /etc/localtime:/etc/localtime:ro
#        environment:
#            - DISABLE_JEMALLOC: true
#        devices:
#            - /dev/ttyUSB0:/dev/ttyUSB0
        restart: unless-stopped
        privileged: true